*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    background: var(--color-1);
    color: var(--color-2);
    padding: 40px;
    height: 100vh;
    font-size: 16px;
}

.login {
    height: 100%;
    border: 6px double var(--color-2);
    display: grid;
    place-items: center;
    position: relative;
}

.login > div{
    border: 2px solid var(--color-2);
    padding: 20px;
    display: flex;
    align-items: center;
}

.password-bar {
    display: flex;
    align-items: center;
    border: 2px solid var(--color-2);
    border-radius: 2px;
    padding: 4px;
    margin-left: 10px;
}

.password-bar .btn {
    background: var(--color-1);
    border: none;
    color: var(--color-2);
}

input[type='password'],
input[type='disabled'] {
    font-size: 12px;
    background: var(--color-1);
    border: none;
    color: var(--color-2);
}

input[type='password']:focus,
input[type='disabled']:focus {
    border: none;
    outline: none;
}


.wrong-password-text {
    color: var(--color-3);
    position: absolute;
    bottom: 15%;
}